{% extends 'base.html.twig' %}
{# heritage de base.html;twig #}

{% block title %}Hello MainController!{% endblock %}

{% block h1 %}vous etes ici{% endblock %}
{% block body %}


<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione doloribus tenetur animi maiores velit quo nostrum dicta veritatis corrupti vero fuga iure, veniam, optio labore odio odit debitis delectus tempora quod dignissimos perferendis? Deserunt voluptatibus debitis ipsa nisi aspernatur fugit nam iste harum! Recusandae molestiae fuga ullam dolor, eligendi sunt incidunt, eaque explicabo non quos delectus nihil voluptatem, animi enim. Sequi praesentium odit officiis hic autem vel ipsa incidunt minus, quibusdam laboriosam esse! Vitae distinctio architecto, magni ex possimus nemo velit sed quis. Quod, perferendis in illum omnis quis deserunt fugit quibusdam nam repellat totam. Enim neque, ducimus ea vero expedita voluptates. Debitis dolorem molestias accusamus facere odio quam, voluptate animi expedita omnis nisi ea! Ea nihil quasi praesentium at molestias corrupti quos possimus nesciunt natus cumque porro nulla minus placeat, molestiae illum explicabo blanditiis in laborum vel quam! Ex quia quaerat, modi at molestias voluptate saepe vitae culpa quos quisquam incidunt? Quis sit aliquam doloribus vel veritatis est alias, aliquid cumque ipsum unde, quaerat sed ullam! Repudiandae distinctio obcaecati aut libero doloremque commodi, iure harum error qui, alias, recusandae explicabo optio deserunt modi adipisci asperiores. Consequuntur excepturi aliquid accusantium? Illum ratione dignissimos asperiores nobis, corrupti rerum omnis at culpa.</p>

{% endblock %}


{#
pour faire des commentaire

{{ }}= interpolation : variable et fonction twig

{% %} : commande, blocks, heritage, conditions, for variable
#}